data/
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
.env
*.csv
*.pkl
*.joblib
main/Base.csv
main/MY_PROCESS_LOG.md
main/MY_TASKS_AND_EXPLANATION.md
main/code/outputs/X_train.csv
main/code/outputs/X_test.csv
main/code/outputs/y_train.csv
main/code/outputs/y_test.csv
main/code/outputs/shap_values.csv
main/code/outputs/false_negatives.csv
main/code/outputs/false_positives.csv
